.s_product-compare {
    &__link {
        &::after {
            content:'\f054';
            font-family: 'FontAwesome';
            display: inline-block;
            margin: 0 0.5rem;
        }
    }

    &__content {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-bottom: 10px;
        }
    }

    &__item {
        margin: 20px 0;
    }
}