body.editor_enable {
    .s_text-rollup {
        z-index: 30;

        &__images {
            overflow: unset;
        }

        &__img {
            display: block !important;
        }
    }
}

.s_text-rollup {
    display: flex;

    &__text {
        cursor: pointer;
        
        &--active {
            b, p {
                color: map-get($konvergo-colors, 'white-900') !important;
            }
        }

        .lead, b, p {
            color: map-get($konvergo-colors, 'black-600');
        }
    }

    &__images {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45%;
        overflow: hidden;

        img {
            // display: none;
            height: 100%;
            width: fit-content;
            min-width: 100%;
            
            &:not(:first-child) {
                display: none;
            }
        }
    }

    &__img {
        width: 100%;
    }

    hr {
        border-color: map-get($konvergo-colors, 'black-600');
        margin: 2.5rem 0;
    } 
}

@include media-breakpoint-down(md) {
    .s_text-rollup {
        flex-direction: column;
        padding-bottom: 0 !important;

        &__images {
            position: unset;
            width: 100%;

            img {
                padding: 6rem;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .s_text-rollup {
        &__images {
            position: unset;
            width: 100%;
            padding-top: 2rem;

            img {
                width: 100%;
                padding: 0 !important;
            }
        }
    }
}