.data-source {
    display: flex;
    justify-content: center;

    &__logo {
        border-radius: $btn-border-radius;
        border: 1px solid map-get($konvergo-colors, "black-300");
        background: #FFF;
        display: inline-flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin: 25px;
        
        & img {
            height: 42px;
            object-fit: contain;
            flex-shrink: 0;
            max-width: 110px;
        }
    }
}

.combine-data {
    background: map-get($konvergo-colors, 'blue-100');
    border-radius: $btn-border-radius;
    border: 1px solid map-get($konvergo-colors, "black-300");
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    align-items: center;

    span {
        font-size: 3rem;
        font-weight: 300;
        color: map-get($konvergo-colors, 'black-1000');
    }
}

@include media-breakpoint-down(lg) {
    .combine-data .data-source__logo {
        margin: 5px;
    }
}