.s_hero-three-ctas {
    display: flex;

    &__wrapper {
        max-width: 500px;
    }

    &--large {
        background: map-get($konvergo-colors, "red-100") url("/konvergo_theme_base/static/src/img/snippets/s_hero-three-ctas/bg-cta-1.svg");
        height: 100vh;
        width: 50vw;
    }

    &__cta, &__group--small {
        padding: 4rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn {
        margin-top: 3rem;
    }

    &__group {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;

        &--small {
            width: 100%;
            height: 50vh;

            &:first-child {
                background: map-get($konvergo-colors, "yellow-100") url("/konvergo_theme_base/static/src/img/snippets/s_hero-three-ctas/bg-cta-2.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
    
            &:last-child {
                background: map-get($konvergo-colors, "blue-100") url("/konvergo_theme_base/static/src/img/snippets/s_hero-three-ctas/bg-cta-3.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
        .s_hero-three-ctas {
            display: unset;

            &__group {
                width: unset;
            }

            &--large, &__group--small {
                height: 37vh;
                width: 100vw;
            }

            &__cta, &__group--small {
                padding: 2rem;
            }

            .btn {
                margin-top: 0;
            }
      }
    }