//----------------------------------------------------------
// Border radius - Components
//----------------------------------------------------------

$border-radius: 6px;
$border-radius-lg: 10px;
$border-radius-xl: 12px;
$border-radius-sm: 4px;

//----------------------------------------------------------
// AppBarMenu
//----------------------------------------------------------

$konvergo-sidebar-large-width: 146px;
$konvergo-sidebar-small-width: 46px;

//----------------------------------------------------------
// List View
//----------------------------------------------------------

$o-list-footer-bg-color: $o-brand-odoo;

//----------------------------------------------------------
// Transitions
//----------------------------------------------------------

$konvergo-transition-style: .2s cubic-bezier(.32,.08,.24,1);