.konvergo-footer {
    .logo {
        width: 165px;
    }

    ul.list-unstyled {
        li {
            margin-bottom: 0.8125rem;
            display: flex;
            align-items: center;

            span {
                margin-left: 0.625rem;
            }
        }
    }

    .s_share a {
        color: map-get($konvergo-colors, "black-1000");
        
        &:hover {
            text-decoration: none;
            color: $link-plain-bold-hover-color;
        }
    }

    &__copyright {
        padding-top: 40px;
        padding-bottom: 40px;
        color: map-get($konvergo-colors, "black-600");

        p {
            margin-bottom: 0;
        }

        a:not(:last-child) {
            margin-right: 40px;
        }
    }

    // Language selector
    .js_language_selector {
        button {
            padding: .94rem 1.25rem;
            border: 1px solid map-get($konvergo-colors, "black-1000") !important;
            color: map-get($konvergo-colors, "black-1000") !important;
            display: flex;
            align-items: center;
            font-size: 1rem;

            &:before {
                content: "\f0ac";
                font-family: FontAwesome;
                margin-right: 0.625rem;
                font-size: 1rem;
            }

            &:hover, &:active, &:focus {
                background: map-get($konvergo-colors, "black-100") !important;
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem map-get($konvergo-colors, "black-500") !important;
            }
        }
    }
}