h1, h2, h3, h4, h5, h6 {
    line-height: 150%;
}

h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    letter-spacing: -0.125rem;
    font-weight: 700;
}

h2 {
    letter-spacing: -0.125rem;
}

h3 {
    letter-spacing: -0.094rem;
}

b, strong {
    font-weight: 500;
}

small, .small {
    font-size: 0.875rem;
}

.lead {
    color: map-get($konvergo-colors, "black-1000");
    font-size: 1.125rem;
}

// Peut-on utiliser la classe lead a la place?
// .large { 
//     font-size: 1.125rem;

//     b {
//         color: map-get($konvergo-colors, "black-1000");
//     }
// }

.text {
    &--accent {
        color: map-get($konvergo-colors, "red-1000");
    }
}