//------------------------------------------------------------------------------
// Presets
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        // Header
        'logo-height':                      2.75rem,
        'fixed-logo-height':                2rem,

        // Font
        'font':                             'Be Vietnam Pro',
        'headings-font':                    'Be Vietnam Pro',
        'navbar-font':                      'Be Vietnam Pro',
        'buttons-font':                     'Be Vietnam Pro',

        // Buttons
        'btn-padding-y':                    .94rem,
        'btn-padding-x':                    1.25rem,
        'btn-padding-y-sm':                 .3rem,
        'btn-padding-x-sm':                 .9rem,
        'btn-padding-y-lg':                 .6rem,
        'btn-padding-x-lg':                 1.8rem,
        'btn-border-radius':                0.375rem,
        'btn-border-radius-sm':             0.375rem,
        'btn-border-radius-lg':             0.375rem,
        'btn-ripple':                       true,

        'input-padding-y':                  .45rem,
        'input-padding-y-sm':               .3rem,
        'input-padding-y-lg':               .6rem,

        // Footer
        'footer-template':                  'contact',
        // 'footer-effect':                    'regular',
        // 'footer-scrolltop':                 true,
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

// Those are fonts available in the backend
$o-theme-font-configs: (
    'Be Vietnam Pro': (
        'family': ('Be Vietnam Pro', sans-serif),
        'url': 'Be+Vietnam+Pro:300,400,500,600,700,800,900',
        // 'properties' : (
        //     'base': (
        //         'font-size-base':           (16 / 14) * 1rem,
        //         'header-font-size':         (18 / 16) * 1rem,
        //     ),
        // )
    ),
);

// Headings
$o-theme-h1-font-size-multiplier:           3;
$o-theme-h2-font-size-multiplier:           2.5;
$o-theme-h3-font-size-multiplier:           2;
$o-theme-h4-font-size-multiplier:           1.75;
$o-theme-h5-font-size-multiplier:           1.5;
$o-theme-h6-font-size-multiplier:           1.25;

$o-theme-headings-font-weight:              400;
// $o-theme-text-font-weight:              300;

// Texts
$o-theme-font-size-lg-multiplier:           1;
$o-theme-font-size-sm-multiplier:           .875;

$o-theme-font-weight-light:                 300;
$o-theme-font-weight-normal:                400;
$o-theme-font-weight-bold:                  500;

// Buttons
$o-theme-btn-font-weight:                   500;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

@function adjust-opacity($color, $amount, $background: #FAFCFE) {
    $r: red($color);
    $g: green($color);
    $b: blue($color);
    
    $r-bg: red($background);
    $g-bg: green($background);
    $b-bg: blue($background);
    
    $r: round($r + ($r-bg - $r) * $amount);
    $g: round($g + ($g-bg - $g) * $amount);
    $b: round($b + ($b-bg - $b) * $amount);
  
    @return rgb($r, $g, $b);
  }
  
  // Base colors to generate shades
  $konvergo-base-colors: (
      'red': #EC0B43,
      'blue': #1A62C6,
      'yellow': #F3BE22,
      'black': #242930
  );
  
  // Colors that should not be iterated in the loop
  $konvergo-additional-colors: (
      'white-900': #FAFCFE,
      'gray': #D4D6D9
  );
  
  // Merge additional colors with base colors
  $konvergo-colors: $konvergo-additional-colors;
  
  @each $color, $base in $konvergo-base-colors {
      // Add base color to the colors map
      $konvergo-colors: map-merge($konvergo-colors, ($color + '-1000': $base));
  
      @for $i from 1 through 9 {
          $opacity: $i * 0.1;
          $adjusted-color: adjust-opacity($base, $opacity);
          $darkened-color: darken($base, $i * 5%);
  
          $konvergo-colors: map-merge($konvergo-colors, (
              $color + "-#{1000 - $i*100}": $adjusted-color,
              $color + "-#{1000 + $i*100}": $darkened-color
          ));
      }
  }  

$o-color-palettes: (
    ( // Palette 1
        'o-color-1':                        map-get($konvergo-colors, 'red-1000'),
        'o-color-2':                        map-get($konvergo-colors, 'red-100'),
        'o-color-3':                        map-get($konvergo-colors, 'black-600'),
        'o-color-4':                        map-get($konvergo-colors, 'white-900'),
        'o-color-5':                        map-get($konvergo-colors, 'black-1000'),

        'o-cc1-headings':                   'o-color-5',
        'o-cc1-text':                       'o-color-3',        
        'o-cc1-btn-secondary-border':       'o-color-2',

        'o-cc2-bg':                         'o-color-5',
        'o-cc2-headings':                   'o-color-4',

        'o-cc3-headings':                   'o-color-5',
        'o-cc3-btn-secondary':              'o-color-4',
        'o-cc3-btn-secondary-border':       'o-color-4',

        'o-cc4-headings':                   'o-color-4',
        'o-cc4-link':                       'o-color-4',
        'o-cc4-btn-primary':                'o-color-4',
        'o-cc4-btn-secondary':              'o-color-2',
        'o-cc4-btn-secondary-border':       'o-color-2',

        'o-cc5-headings':                   'o-color-5',
        'o-cc5-bg':                         map-get($konvergo-colors, 'yellow-100'),
        'o-cc5-link':                       map-get($konvergo-colors, 'yellow-1000'),
        'o-cc5-btn-primary':                map-get($konvergo-colors, 'yellow-1000'),
        'o-cc5-btn-secondary':              'o-color-5',
        'o-cc5-btn-secondary-border':       'o-color-5',

        'menu':                             1,
        'footer':                           1,
        'copyright':                        1,
    ),

);

// Compatibility
$o-theme-color-palettes: (
    (
        'alpha':                            #68b581,
        'beta':                             #00a388,
        'gamma':                            #046380,
        'delta':                            #4bb5c1,
        'epsilon':                          #beeb9f,
    ),
    (
        'alpha':                            #a3cc52,
        'beta':                             #cc4452,
        'gamma':                            #8e3557,
        'delta':                            #f7f2b2,
        'epsilon':                          #4a1a2c,
    ),
    (
        'alpha':                            #eebf3e,
        'beta':                             #e2ad3b,
        'gamma':                            #bf5c00,
        'delta':                            #77c4d3,
        'epsilon':                          #901811,
    ),
    (
        'alpha':                            #0092b2,
        'beta':                             #046380,
        'gamma':                            #a8c545,
        'delta':                            #fff6c5,
        'epsilon':                          #ffd55c,
    ),
    (
        'alpha':                            #dd7e43,
        'beta':                             #d45c45,
        'gamma':                            #911146,
        'delta':                            #9cc264,
        'epsilon':                          #306e73,
    ),
    (
        'alpha':                            #b7ca79,
        'beta':                             #677e52,
        'gamma':                            #b0cc99,
        'delta':                            #89725b,
        'epsilon':                          #f6e8b1,
    ),
);

//------------------------------------------------------------------------------
// Links
//------------------------------------------------------------------------------
$link-small-color:                       map-get($konvergo-colors, "black-600") !default;
$link-small-hover-color:                 darken($link-small-color, 15%) !default;

$link-plain-bold-color:                  map-get($konvergo-colors, "black-1000") !default;
$link-plain-bold-hover-color:            lighten($link-plain-bold-color, 15%) !default;

//------------------------------------------------------------------------------
// Images
//------------------------------------------------------------------------------
// $img-border-radius: map-get($o-website-values-palettes, "btn-border-radius");
$img-border: 1px solid map-get($konvergo-colors, "black-300");


