.s_key-functionalities {
    &__features {
        border-radius: $btn-border-radius;
        overflow: hidden;

        div {
            padding: 2rem;

            &:nth-child(3n+1) {
                background: map-get($konvergo-colors, 'red-100');

                i {
                    color: map-get($konvergo-colors, 'red-1000');
                    font-size: 1.5rem;
                }
            }

            &:nth-child(3n+2) {
                background: map-get($konvergo-colors, 'yellow-100');

                i {
                    color: map-get($konvergo-colors, 'yellow-1000');
                    font-size: 1.5rem;
                }
            }

            &:nth-child(3n+3) {
                background: map-get($konvergo-colors, 'blue-100');

                i {
                    color: map-get($konvergo-colors, 'blue-1000');
                    font-size: 1.5rem;
                }
            }
        }
    }
}
