// Base colors to generate shades
$konvergo-base-colors: (
    'red': #EC0B43,
    'blue': #1A62C6,
    'yellow': #F3BE22,
    'black': #242930
);

// Colors that should not be iterated in the loop
$konvergo-additional-colors: (
    'white-900': #FAFCFE,
    'gray': #D4D6D9
);

// Merge additional colors with base colors
$konvergo-colors: $konvergo-additional-colors;

@each $color, $base in $konvergo-base-colors {
  // Add base color to the colors map
  $konvergo-colors: map-merge($konvergo-colors, ($color + '-1000': $base));

  @for $i from 1 through 9 {
    // Calculate lighten and darkening percentage for each step
    // $opacity: 1 - ($i * 0.1);
    $percentage-ligthen: $i * 5%; // Adjust as needed
    $percentage-darker: $i * 5%; // Adjust as needed

    // Generate lighter and darker shades for each base color and add them to the colors map
    $konvergo-colors: map-merge($konvergo-colors, (
      $color + "-#{1000 - $i*100}": lighten($base, $percentage-ligthen),
      $color + "-#{1000 + $i*100}": darken($base, $percentage-darker)
    ));
  }
}