.s_chatbot-cta {
    position: relative;

    &--light {
        background: map-get($konvergo-colors, 'red-100');
        .s_chatbot-cta {
            &__chatbot {
                position: unset;
                height: 500px;

                @include media-breakpoint-up(md) {
                    padding: unset;
                }
            }

            &__row {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: unset;
            }

            .cta-mentions {
                color: map-get($konvergo-colors, 'red-1000');
            }
        }

        .container {
            padding: 0 15px !important;
        }
    }

    &--lightest {
        background: unset;

        .s_chatbot-cta {
            &__chatbot {
                position: unset;
                height: 500px;
                padding: 1.9rem;

                @include media-breakpoint-down(sm) {
                    padding: 0.5rem;
                }
            }

            &__row {
                display: flex;
                align-items: center;
                padding: unset;
            }

            .cta-mentions {
                color: map-get($konvergo-colors, 'red-1000');
            }
        }

        .container {
            padding: 0 15px !important;
        }
    }
    

    .container {
        border-radius: $btn-border-radius;
        padding: 5rem;

    }

    &__chatbot {
        background: map-get($konvergo-colors, 'red-100');
        border-radius: $btn-border-radius;
        padding: 2rem;
        height: 170%;
        position: absolute;
        right: 5%;
        top: -35%;
        width: 28rem;

        typebot-standard {
            border-radius: $btn-border-radius;
            height: unset !important;
        }
    }
}

@include media-breakpoint-down(md) {
    .s_chatbot-cta {
        .container {
            padding: 3rem;
        }

        &__chatbot {
            position: unset;
            width: 100%;
            margin-top: 3rem;
        }
    }
}

@include media-breakpoint-down(sm) {
    .s_chatbot-cta {
        &__chatbot {
            padding: 1rem;
        }
    }
}

@include media-breakpoint-down(xs) {
    .s_chatbot-cta {
        .container {
            border-radius: 0;
            padding: 2rem;
        }
    }
}



// .vertical-scroller {
//     height: 150px;
//     overflow: hidden;
//     position: relative;

//     @include media-breakpoint-down(lg) {
//         height: 250px;
//     }

//     @include media-breakpoint-down(md) {
//         height: 150px;
//     }

//     @include media-breakpoint-down(sm) {
//         height: 100px;
//     }

//     .scroll-text {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         opacity: 0;
//         transition: opacity 1s;

//         &:nth-child(1) {
//             animation: showText 9s infinite;
//         }
        
//         &:nth-child(2) {
//             animation: showText 9s infinite 3s; // delay de 3 secondes
//         }

//         &:nth-child(3) {
//             animation: showText 9s infinite 6s; // delay de 6 secondes
//         }
//     }
// }

// @keyframes showText {
//     0%, 33% {
//         opacity: 1;
//     }
//     34%, 100% {
//         opacity: 0;
//     }
// }


// .vertical-scroller.no-scroll .scroll-text {
//     animation: none !important;
//     &:nth-child(1) {
//         opacity: 1;
//     }
//     &:not(:nth-child(1)) {
//         display: none;
//     }
// }
