.s_security {
    background: map-get($konvergo-colors, 'yellow-100') url("/konvergo_theme_base/static/src/img/snippets/s_security/konvergo-bg.svg") no-repeat top left / contain;
    border: 1px solid map-get($konvergo-colors, 'yellow-200');
    border-radius: $btn-border-radius;

    &__row {
        padding: 3.75rem;
    }
}

@include media-breakpoint-down(xs) {
    .s_security {
        &__row {
            padding: 1.5rem;
        }
    }
}